/********   Hero and Nav CSS   ******************/

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}


section, aside, h3, p {
    margin: 0;
    padding: 0;
}

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/**************Nav Bar CSS*******************/

.nav_bar {
    width: 75%;
    float: right;
    list-style: none;
}

.nav_bar ul li ul {
    padding: 0;
}

.nav_bar li {
    font-weight: bold;
    background-color: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    float: left;
    line-height: 50px;
    list-style: none;
}

.nav_bar li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav_bar ul li ul li {
  display: none;
  font-size: .5em;
}

.nav_bar li:hover {
  background-color: indianred;
  transition: background-color .3s;
}

.current {
    background-color: indianred;
}

.nav_bar ul li ul li {
    font-size: 16px;
}

.nav_bar ul li:hover ul li {
  display: block;
}


.slicknav_menu {
    display: none;
}

@media only screen and (max-width: 550px) {
    .slicknav_menu {
        display: block;
        width: 100%;
        float: right;
        background: transparent;
    }
    .slicknav_menu li {
        background: #333;
        text-align: center;
        text-transform: uppercase;
    }
    .slicknav_menu a:hover {
        background: transparent;
        color: #fff;
    }
    .nav_bar {
        display: none;
    }

    .hero-image {
        position: relative;
        height: 100%;
        width: 100%;        
        overflow: hidden;
        background: url(../images/redford-hero.jpg) no-repeat center;
        background-size: cover;
        border-bottom: 2px solid indianred;

    }
}

/**************************************/
.hero-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../images/redford-hero.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 2px solid indianred;
}



/**********  End Hero and Nav CSS ***************/



/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}

body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 50px auto;
    width: 500px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

fieldset {
    border: none;
}


label {
	float: left;
    width: 11em;
    text-align: right;
}

input, select, textarea {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em; 
}


.contact-info {
    margin-bottom: 1rem;
    margin-left: 4.7em;
    width: 20em;
    border-radius: 100px;
    height: 30px;
}


#buttons input {
	width: 7em;
}

#submit, #reset {
    height: 2.5em;
    width: 100%;
    margin-left: 0;
    border-radius: 100px;
    color: white;
    background-color: indianred;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 4px rgba(0,0,0,0.5);
}
        
#submit:hover, #reset:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}


fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
    text-align: center;    
}

h2 {
	color:#00CC00;
}

#message {
    width: 20em;
    border-radius: 10px;
    margin-left: 4.7em;
}

input:required:invalid {
    background-image: url(../images/required.png);
    background-position: right;
    background-repeat: no-repeat;
}

input:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right;
    background-repeat: no-repeat;
}
input:required:valid {
    background-image: url(../images/valid.png);
    background-position: right;
    background-repeat: no-repeat;
}

/*******************Bottom Nav***************/
footer nav ul li {
    float: left;
    padding-right: 10px;
}

footer nav ul {
    float: right;
    text-decoration: none;
    list-style: none;
    display: block;
}

footer {
    width: 100%;
    float:left;
    clear: both;
    border-top: 2px solid indianred;
    margin-top: 1em;
    padding-top: 1em;
}
