body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

main {
    width: 992px;
    margin: 15px auto;
    padding: 15px, 0;    
}

section, aside, h3, p {
    margin: 0;
    padding: 0;
}

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/**************Nav Bar CSS*******************/

.nav_bar {
    width: 75%;
    float: right;
    list-style: none;
}

.nav_bar ul li ul {
    padding: 0;
}

.nav_bar li {
    font-weight: bold;
    background-color: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    float: left;
    line-height: 50px;
    list-style: none;
}

.nav_bar li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav_bar ul li ul li {
  display: none;
  font-size: .5em;
}

.nav_bar li:hover {
  background-color: indianred;
  transition: background-color .3s;
}

.nav_bar ul li.current {
    background-color: indianred;
}

.nav_bar ul li ul li {
    font-size: 16px;
}

.nav_bar ul li:hover ul li {
  display: block;
}

.slicknav_menu {
    display: none;
}

.hero-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../images/redford-hero.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 2px solid indianred;
}

section {
    width: 535px;
    margin-left: 20px;
    padding-right: 25px;
    float: right;
}

h3 {
    padding-top: 10px;
}

p {
    padding-top: 10px;
    width: 50%;
}

section p {
    padding-bottom: 1em;
}

.img-1 {
    float: right;
}

#section-2 h3 {
    width: 50%;
    float: right;
}

#section-2  p{
    width: 50%;
    float: right;
    clear: both;
}


aside {
    width: 350px;
    padding: 20px;
    margin-right: 20px;
}

.second {
    width: 300px;
    float: left;
    padding-bottom: 1em;
}

aside h3 {
    font-size: 100%;
    padding-bottom: .5em;
}

#section-3 p {
    float: left;
}

.right-side {
    float: right;
}

hr {
    clear: both;
}

/*******************Bottom Nav***************/
footer nav ul li {
    float: left;
    padding-right: 10px;
}

footer nav ul {
    float: right;
    text-decoration: none;
    list-style: none;
    display: block;
}

footer {
    width: 100%;
    float:left;
    clear: both;
    border-top: 2px solid indianred;
    margin-top: 1em;
    padding-top: 1em;
}

@media only screen and (max-width: 550px) {
    .slicknav_menu {
        display: block;
        width: 100%;
        float: right;
        background: transparent;
    }
    .slicknav_menu li {
        background: #333;
        text-align: center;
        text-transform: uppercase;
    }
    .slicknav_menu a:hover {
        background: transparent;
        color: #fff;
    }
    .nav_bar {
        display: none;
    }

    .hero-image {
        position: relative;
        height: 100%;
        width: 100%;        
        overflow: hidden;
        background: url(../images/redford-hero.jpg) no-repeat center;
        background-size: cover;
        border-bottom: 2px solid indianred;
    }
}

